local-installation.md
*.env
platform-apps/charts/*/charts/*.tgz

platform-apps/charts/*/dashboard-files/*
platform-apps/charts/argocd/templates/*

platform-apps/charts/argo-rollouts/*
platform-apps/charts/backstage/*
platform-apps/charts/cnpg/*
platform-apps/charts/keycloak/*
platform-apps/charts/external-dns/*
platform-apps/charts/falco/*
platform-apps/charts/grafana/*
platform-apps/charts/k8s-monitoring/*
platform-apps/charts/kargo/*
platform-apps/charts/komoplane/*
platform-apps/charts/kubecost/*
platform-apps/charts/kubevirt/*
platform-apps/charts/kubevirt-manager/*
platform-apps/charts/kyverno/*
platform-apps/charts/loki/*
platform-apps/charts/ingress-nginx/*
platform-apps/charts/mimir/*
platform-apps/charts/minio/*
platform-apps/charts/team-onboarding/*
platform-apps/charts/tempo/*
platform-apps/charts/trivy/*
platform-apps/charts/velero/*
platform-apps/charts/velero-ui/*
